In [161]:
import pandas as pd
import numpy as np
import json
import ast

In [78]:
file = open("./Data/transactions - Copy - Copy.txt")

In [82]:
all_text=[]
for i in range(0,786363):
    content=[]
    content = file.readlines(i)
    all_text.append(content)

In [151]:
all_text[0][0]

'{"accountNumber": "737265056", "customerId": "737265056", "creditLimit": 5000.0, "availableMoney": 5000.0, "transactionDateTime": "2016-12-10T02:14:50", "transactionAmount": 7.47, "merchantName": "Play Store", "acqCountry": "US", "merchantCountryCode": "US", "posEntryMode": "09", "posConditionCode": "01", "merchantCategoryCode": "mobileapps", "currentExpDate": "08/2025", "accountOpenDate": "2015-03-14", "dateOfLastAddressChange": "2015-03-14", "cardCVV": "486", "enteredCVV": "486", "cardLast4Digits": "767", "transactionType": "PURCHASE", "echoBuffer": "", "currentBalance": 0.0, "merchantCity": "", "merchantState": "", "merchantZip": "", "cardPresent": false, "posOnPremises": "", "recurringAuthInd": "", "expirationDateKeyInMatch": false, "isFraud": false}\n'

In [153]:
all_text[0][1][0:-1]

'{"accountNumber": "830329091", "customerId": "830329091", "creditLimit": 5000.0, "availableMoney": 5000.0, "transactionDateTime": "2016-03-24T21:04:46", "transactionAmount": 71.18, "merchantName": "Tim Hortons #947751", "acqCountry": "US", "merchantCountryCode": "US", "posEntryMode": "02", "posConditionCode": "01", "merchantCategoryCode": "fastfood", "cardPresent": true, "currentExpDate": "10/2029", "accountOpenDate": "2015-08-06", "dateOfLastAddressChange": "2015-08-06", "cardCVV": "885", "enteredCVV": "885", "cardLast4Digits": "3143", "transactionType": "PURCHASE", "echoBuffer": "", "currentBalance": 0.0, "merchantCity": "", "merchantState": "", "merchantZip": "", "posOnPremises": "", "recurringAuthInd": "", "expirationDateKeyInMatch": false, "isFraud": false}'

In [152]:
len(all_text)

786363

In [135]:
dicts=[]
for i in range(0,786359):
    dict=all_text[0][i][0:-1]
    dict=json.loads(dict)
    dicts.append(dict)

In [158]:
transactions=pd.DataFrame(dicts)
transactions.to_csv('./Data/transactions.csv')

In [156]:
transactions=pd.read_csv('./Data/transactions.csv')
transactions.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
1,830329091,830329091,5000.0,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,,0.0,,,,True,,,False,False
2,830329091,830329091,5000.0,5000.0,2016-04-19T16:24:27,30.76,In-N-Out #422833,US,US,02,...,,0.0,,,,True,,,False,False
3,830329091,830329091,5000.0,5000.0,2016-05-21T14:50:35,57.28,Krispy Kreme #685312,US,US,02,...,,0.0,,,,True,,,False,False
4,830329091,830329091,5000.0,5000.0,2016-06-03T00:31:21,9.37,Shake Shack #968081,US,US,05,...,,0.0,,,,True,,,False,False

In [164]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786359 entries, 0 to 786358
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786359 non-null  object
 1   customerId                786359 non-null  object
 2   creditLimit               786359 non-null  float64
 3   availableMoney            786359 non-null  float64
 4   transactionDateTime       786359 non-null  datetime64[ns]
 5   transactionAmount         786359 non-null  float64
 6   merchantName              786359 non-null  object
 7   acqCountry                786359 non-null  object
 8   merchantCountryCode       786359 non-null  object
 9   posEntryMode              786359 non-null  object
 10  posConditionCode          786359 non-null  object
 11  merchantCategoryCode      786359 non-null  object
 12  currentExpDate            786359 non-null  datetime64[ns]
 13  accountOpenDate           786359 non-null  datetime64[ns]
 14  dateOfLastAddressChange   786359 non-null  datetime64[ns]
 15  cardCVV                   786359 non-null  object
 16  enteredCVV                786359 non-null  object
 17  cardLast4Digits           786359 non-null  object
 18  transactionType           786359 non-null  object
 19  echoBuffer                786359 non-null  object
 20  currentBalance            786359 non-null  float64
 21  merchantCity              786359 non-null  object
 22  merchantState             786359 non-null  object
 23  merchantZip               786359 non-null  object
 24  cardPresent               786359 non-null  bool
 25  posOnPremises             786359 non-null  object
 26  recurringAuthInd          786359 non-null  object
 27  expirationDateKeyInMatch  786359 non-null  bool
 28  isFraud                   786359 non-null  bool
dtypes: bool(3), datetime64[ns](4), float64(4), object(18)
memory usage: 158.2+ MB

In [159]:
transactions.groupby('customerId')['accountNumber'].count()

customerId
100088067     75
100108752     18
100328049    103
100663626     31
100737756    178
            ...
999086814    677
999257059    160
999258704     88
999283629    141
999389635      9
Name: accountNumber, Length: 5000, dtype: int64

In [163]:
#converting type of relevant columns ti date time
transactions['currentExpDate']=pd.to_datetime(transactions['currentExpDate'])
transactions['accountOpenDate']=pd.to_datetime(transactions['accountOpenDate'])
transactions['transactionDateTime']=pd.to_datetime(transactions['transactionDateTime'])
transactions['dateOfLastAddressChange']=pd.to_datetime(transactions['dateOfLastAddressChange'])

In [165]:
#creditLimit
transactions.groupby('creditLimit')['creditLimit'].count()

creditLimit
250.0       34025
500.0       27097
1000.0      36430
2500.0      75429
5000.0     201860
7500.0      97913
10000.0     56889
15000.0    139307
20000.0     68629
50000.0     48780
Name: creditLimit, dtype: int64

In [166]:
#availableMoney
transactions.groupby('availableMoney')['availableMoney'].count()

availableMoney
-1005.63        1
-972.12         1
-936.08         1
-930.55         1
-916.03         1
             ...
 49998.89       1
 49999.43       1
 49999.62       1
 49999.72       1
 50000.00    1207
Name: availableMoney, Length: 521915, dtype: int64

In [167]:
#acqCountry
transactions.groupby('acqCountry')['acqCountry'].count()

acqCountry
         4562
CAN      2424
MEX      3130
PR       1538
US     774705
Name: acqCountry, dtype: int64

In [168]:
#posEntryMode
transactions.groupby('posEntryMode')['posEntryMode'].count()

posEntryMode
        4054
02    195933
05    315034
09    236479
80     15283
90     19576
Name: posEntryMode, dtype: int64

In [169]:
#posConditionCode
transactions.groupby('posConditionCode')['posConditionCode'].count()

posConditionCode
         409
01    628783
08    149634
99      7533
Name: posConditionCode, dtype: int64

In [170]:
#merchantCategoryCode
transactions.groupby('merchantCategoryCode')['merchantCategoryCode'].count()

merchantCategoryCode
airline                  15412
auto                     21651
cable/phone               1382
entertainment            80097
fastfood                112138
food                     75490
food_delivery             6000
fuel                     23910
furniture                 7432
gym                       2209
health                   19092
hotels                   34097
mobileapps               14989
online_gifts             66238
online_retail           202156
online_subscriptions     11067
personal care            18964
rideshare                51134
subscriptions            22901
Name: merchantCategoryCode, dtype: int64

In [171]:
#transactionType
transactions.groupby('transactionType')['transactionType'].count()

transactionType
                           698
ADDRESS_VERIFICATION     20169
PURCHASE                745189
REVERSAL                 20303
Name: transactionType, dtype: int64

In [172]:
#echoBuffer
transactions.groupby('echoBuffer')['echoBuffer'].count()

echoBuffer
    786359
Name: echoBuffer, dtype: int64

In [174]:
transactions['echoBuffer']

0
1
2
3
4
         ..
786354
786355
786356
786357
786358
Name: echoBuffer, Length: 786359, dtype: object

In [173]:
#merchantCity
transactions.groupby('merchantCity')['merchantCity'].count()

merchantCity
    786359
Name: merchantCity, dtype: int64

In [175]:
transactions['merchantCity']

0
1
2
3
4
         ..
786354
786355
786356
786357
786358
Name: merchantCity, Length: 786359, dtype: object

In [176]:
#merchantState
transactions.groupby('merchantState')['merchantState'].count()

merchantState
    786359
Name: merchantState, dtype: int64

In [183]:
#merchantZip
transactions.groupby('merchantZip')['merchantZip'].count()

merchantZip
    786359
Name: merchantZip, dtype: int64

In [177]:
#cardPresent
transactions.groupby('cardPresent')['cardPresent'].count()

cardPresent
False    433492
True     352867
Name: cardPresent, dtype: int64

In [178]:
#posOnPremises
transactions.groupby('posOnPremises')['posOnPremises'].count()

posOnPremises
    786359
Name: posOnPremises, dtype: int64

In [179]:
#recurringAuthInd
transactions.groupby('recurringAuthInd')['recurringAuthInd'].count()

recurringAuthInd
    786359
Name: recurringAuthInd, dtype: int64

In [180]:
#expirationDateKeyInMatch
transactions.groupby('expirationDateKeyInMatch')['expirationDateKeyInMatch'].count()

expirationDateKeyInMatch
False    785316
True       1043
Name: expirationDateKeyInMatch, dtype: int64

In [186]:
#isFraud
transactions.groupby('isFraud')['isFraud'].count()

isFraud
False    773942
True      12417
Name: isFraud, dtype: int64

In [181]:
transactions=transactions.drop(['echoBuffer','merchantZip','merchantCity','merchantState','posOnPremises','recurringAuthInd'],axis=1)

In [185]:
transactions.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.0,2016-12-10 02:14:50,7.47,Play Store,US,US,09,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
1,830329091,830329091,5000.0,5000.0,2016-03-24 21:04:46,71.18,Tim Hortons #947751,US,US,02,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False
2,830329091,830329091,5000.0,5000.0,2016-04-19 16:24:27,30.76,In-N-Out #422833,US,US,02,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False
3,830329091,830329091,5000.0,5000.0,2016-05-21 14:50:35,57.28,Krispy Kreme #685312,US,US,02,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False
4,830329091,830329091,5000.0,5000.0,2016-06-03 00:31:21,9.37,Shake Shack #968081,US,US,05,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False